doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    style.
      body{
      font-family: ‘Open Sans’, Arial, sans-serif;
      }
      .container{
      padding: 10px 10px 0px 10px;
      height: auto;
      border: 15px solid #dddddd;
      max-width: 700px;
      margin-right: auto;
      margin-left: auto;
      }
      .logo{
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      }
      .logo img{
      margin-right: auto;
      margin-left: auto;
      width: 50%;
      }
      .titulo{
      margin-top: 30px;
      width: 100%;
      height: auto;
      min-height: 40px;
      line-height: auto;
      line-height: auto;
      background: #fac311;
      text-align: center;
      display: table;
      }
      .titulo h3{
      font-size: 20px;
      display: table-cell;
      vertical-align: middle;
      }
      .texto{
      font-size: 16px;
      }
      .derechos{
      height: auto;
      background:#dddddd;
      max-width: 750px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      }
  body
    .container
      .logo
        img(src='https://appolotaxi.com/images/logo.png', alt='')
      .titulo
        h3 Estimado #{nombre}
      .texto
        p
          | Hemos recibido una solicitud de cambio de contraseña desde su cuenta Appolo Taxi
          | registrada a este correo.
        p
          | En la aplicación proceda a ingresar el siguiente código el cual le permitirá
          | realizar el cambio de contraseña.
        p
          strong #{codigo}
        br
        p En caso de no haber realizado esta solicitud puede ignorar este mensaje. 
        br
        br
        p Appolo Taxi
    .derechos
      | ©2019 Apolo. All rights reserved.